*.DS_Store
Thumbs.db

.idea/
*.iml

local.properties
.gradle/
**/build/

!gradlew
!gradlew.bat
!gradle-wrapper.jar
!gradle-wrapper.properties

*.log
*.log.*
*.tmp
*.lock

*.apk
*.ap_ 
*.aab

/reports/
/test-results/
/lint/
caches.xml

*.class
*.jar
*.war
*.ear

*.o
*.so
*.d

*.env
.env.*
.*gradle\*
